body{
    margin:0;
    display:flex;
    flex-direction: column;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    background-color: #1f2937;
    
}

.logo{
    color: #F9FAF8;
    font-size: 24px;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 16px;
    color: #e5e7eb;
    font-size: 18px;
}

.container1{
    background-color: #1f2937; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 40px;
    flex-wrap: wrap;
}
.descripcion{

    margin: 25px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container1 img{
    flex: 1;
    padding: 30px;
    border-radius: 40px ;
}
.hero{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
}
.hero-description{
    color: #e5e7eb;
    font-size: 18px;
}
.herob{
    background-color: #3882f6;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    border: #3882f6;
    padding: 5px 15px ;
    align-self: flex-start;
    
}

.container2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.random{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    padding: 40px;
}

.bloque{
    display: flex;
    justify-content: center;
    padding: 40px;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
}

.imagent{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    margin:0 10px;
    text-wrap: wrap;
    
    

}

.imagent img{
    flex: 1;
    border: solid #3882f6 5px;
    border-radius: 10px;
    max-width: 150px;
    
    
}   
.imagent p{
    flex: 1;
}

.container3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20%;
    gap: 5px;
    background-color: #e5e7eb;
}

.quote{
    font-size: 28px;
    
    font-style: italic;
    font-weight: 100;
}
.author{
    align-self: flex-end;
    font-weight: bold;
}

.footer{
    
    
    padding: 10% 15%;
}

.box{
    background-color: #3882f6;
    display: flex;
    padding: 5% 10%;
    color: white;
    justify-content: space-between;
    gap: 40px;
    border-radius: 10px;

}

.buttonf{
    background-color: #3882f6;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    border: solid white 2px;
    padding: 5px 15px ;
    align-self: center;
    text-wrap: nowrap;
    
    
}